@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background-base {
  background: linear-gradient(40.63deg,#C15638 11.99%,#4E2135 42.52%,#0D1C31 70.58%);
}

.background-footer {
  background: rgb(15 23 42);
}

.image-pc {
  background-image: url("./assets/images/page_background_pc.png");
}